.menubar1{
    background: black !important;
    padding: 15px 80px !important;
    color: white;
}
.menubar1 a{
    color: white;
}
.menubar2 a{
    color: black;
}

.menubar2{
    margin:0 39%;
    /*padding:0 50%;*/
}

.nav-link{
    margin:5px 20px;
}
.navbar-menu-wrapper{
    padding-top:20px ;
    height: auto;
}

.blog{
    margin-bottom: 20px;
}

.blog-list{
    width: 80%;
    height: auto;
    background: #edebeb;
    border-radius: 20px;
    padding:20px 50px !important;
}


.background{
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}